In [2]:
from api.gcp.connect_cloud import CloudUtility
cloud_utility = CloudUtility()
df = cloud_utility.read_file_from_gcs("tickers/historical_ticks_5", num_workers=50)

In [20]:
from datetime import datetime, timedelta
m6 = int((datetime.today() - timedelta(days = 6 * 28)).strftime('%s') + '000')

In [21]:
asdf = df[df.t >= m6]

In [24]:
asdf

,v,vw,o,c,h,l,t,n,symbol
4464,522.0,45.8552,45.850,45.85,45.850,45.850,1642524900000,9.0,AC
4465,252.0,45.1113,45.200,45.20,45.200,45.200,1642530600000,10.0,AC
4466,237.0,45.4161,45.420,45.42,45.420,45.420,1642530900000,4.0,AC
4467,135.0,44.9796,44.980,44.98,44.980,44.980,1642531200000,4.0,AC
4468,300.0,44.5829,44.550,44.55,44.550,44.550,1642534500000,3.0,AC
...,...,...,...,...,...,...,...,...,...
21804,525.0,26.7383,26.695,26.82,26.820,26.695,1656099600000,25.0,ZEUS
21805,1767.0,26.7783,26.795,26.76,26.810,26.760,1656099900000,52.0,ZEUS
21806,2237.0,26.8351,26.780,26.82,26.905,26.780,1656100200000,89.0,ZEUS
21807,7540.0,26.6727,26.880,26.59,26.880,26.590,1656100500000,304.0,ZEUS
21808,624.0,26.7000,26.700,26.70,26.700,26.700,1656100800000,2.0,ZEUS

In [ ]:
Resolution -> Ticker -> Date (Day)

                     -> Most Recent (Day) Folder